{% extends 'base.html.twig' %}

{% block title %}Hello PartenairesController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid">
      <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
          <div class="col-md-12 text-white text-center p-4">
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Devenir Partenaire</h2>
          </div>
      </div>
</div>

<div class="container-fluid" style="background: linear-gradient(#3f90cb,#345fa5);">
  <h2 class="text-center text-uppercase pt-5"style="font-size: 2rem; color: #ffff;font-weight: 800;">Pourquoi devenir partenaire ? </h2>
  <h3  class="text-center text-uppercase p-4"style="font-size: 1.125rem; color:#ffff;font-weight: 800;">Associer des valeurs communes</h3>   
  <div class="row p-1">
    <div class="col-md-12 ps-4 pe-4">
      <div class="card p-2 d-flex flex-row ">
      <div class="d-flex">
      <i style=" color: #3576b7;" class="fa-solid fa-fingerprint fa-4x p-3 pe-5"></i>
      </div>
      <div>
        <h4 class="text-uppercase pt-2 pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">SE DEMARQUER :</h4>
        <h4 class="text" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">Pour être différent des autres</h4>
        <p style="font-size: 0.875rem; color:black;font-weight: 800;">
        En mettant en valeur un sport émergent, attrayant, dynamique et moderne qui véhicule une très forte image de fair-play, de convivialité et d'esprit de famille.
        </p>
      </div>
      </div>
    </div>
  </div>

  <div class="row p-1">
    <div class="col-md-6 p-4">
      <div style="color: #3576b7;" class="card p-2 d-flex flex-row">
            <div class="d-flex">
      <i class="fa-solid fa-plane fa-4x p-3 "></i>
      </div>
      <div>
        <h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">ASSURER :</h4>
        <h4 class="text" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">Pour faire un long voyage ensemble</h4>
        <p style="font-size: 0.875rem; color:black;font-weight: 800;">
        En assurant un rayonnement national à notre club et votre entreprise.
        </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-4">
      <div class="card p-2 d-flex flex-row">
      <div class="d-flex">
      <i style="color: #3576b7;" class="fa-solid fa-hand-holding-heart  fa-4x p-3"></i>
      </div>
      <div>
        <h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">SOUTENIR :</h4>
        <h4 class="text" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">POUR CONTRIBUER AU BIEN ÊTRE</h4>
        <p style="font-size: 0.875rem; color:black;font-weight: 800;">
        Et permettre de soutenir un sport Olympique de plus en plus populaire.
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-1">
    <div class="col-md-6 p-4 ">
      <div class="card p-2 flex-row">
      <div class="d-flex">
      <i style="color: #3576b7;" class="fa-solid fa-people-arrows-left-right pt-4  fa-4x p-3"></i>
      </div>
      <div>
        <h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">ASSOCIER :</h4>
        <h4 class="text" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">POUR VALORISER VOTRE MARQUE</h4>
        <p style="font-size: 0.875rem; color:black;font-weight: 800;">
        Et associer l'image de votre entreprise ou vos propres qualités humaines aux valeurs de notre Club.
        </p>
      </div>
      </div>
    </div>

    <div class="col-md-6 p-4">
      <div class="card p-2 flex-row">
      <div class="d-flex">
      <i style="color: #3576b7;" class="fa-solid fa-sun  fa-4x p-3 pt-4"></i>
      </div>
      <div>
        <h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">RAYONNER :</h4>
        <h4 class="text" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">POUR IMAGINER L'AVENIR ENSEMBLE</h4>
        <p style="font-size: 0.875rem; color:black;font-weight: 800;">
        Et bénéficier d'une visibilité dns un club Omnisport et ses sections ayant une renommée nationale.
        </p>
      </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid shadow-lg  bg-white ">
<div class="row  p-3"> 
<h3  class="text-center text-uppercase p-4"style="font-size: 1.125rem; color:black;font-weight: 800;">Unir nos responsabilités sociétales</h3>
<div class="col-md-6 d-flex justify-content-center">
<div class="d-flex">
<img class="d-flex img img-fluid" src="https://i.ibb.co/3hNnyMy/developpement-durable-tri.jpg" alt="developpement-durable-tri" style="max-height:140px; width:auto;" border="0">

<p style="font-size: 0.875rem; color:black;font-weight: 800;"><font class="" style="font-size: 1rem;  color: #3576b7; font-weight: 800;"> AGIR POUR LA CONSTRUCTION D'UN MONDE ÉCORESPONSABLE<br><br></font>
Le triathlon se pratique en milieu naturel, il s'adapte à son
environnement tout en respectant des valeurs éco-responsables.
Tout comme vous, nous agissons et nous sommes sensibles au respect de
l'environnement.</p>
</div>
</div>

<div class="col-md-6 d-flex justify-content-center ">
<div class="d-flex">
<img class="d-flex img img-fluid" src="https://i.ibb.co/HngjVcq/SANTE-TRI.png" alt="developpement-durable-tri" style="max-height:140px; width:auto;" border="0">
<p style="font-size: 0.875rem; color:black;font-weight: 800;"><font class="" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">ENGAGER POUR LE BIEN ETRE DE LA POPULATION<br><br></font>
Le triathlon s'engage pour le bien être de tous ses pratiquants, son état
d'esprit solidaire fait partie intégrante de son ADN.
Tout comme vous, nous contribuons au bien être de la population en
offrant la possibilité à chacun d'évoluer à son rythme.</p>
</div>
</div>

</div>

<div class="row p-3 ">
<div class="col-md-6 d-flex justify-content-center">
<div class="d-flex">
<img class="d-flex img img-fluid" src="https://i.ibb.co/smPKv0X/LOGO-FFTRI.jpg" alt="developpement-durable-tri" style="max-height:140px; width:auto;" border="0">
<p style="font-size: 0.875rem; color:black;font-weight: 800;"><font class="" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">PORTER AVEC FIERTÉ NOTRE HISTOIRE<br><br></font>
Le triathlon est devenu un sport de plus en plus populaire qui exige une
discipline stricte et une hygiène de vie saine, fier de ses origines il
connait une croissance rapide.
Tout comme vous, nous sommes sans cesse en quête de performance en
portant avec fierté nos valeurs historiques.</p>
</div>
</div>

<div class="col-md-6 d-flex justify-content-center ">
<div class="d-flex">
<img class="d-flex img img-fluid" src="https://i.ibb.co/QQfVVBC/f-minin-tri.jpg" alt="developpement-durable-tri" style="max-height:140px; width:auto;" border="0">

<p style="font-size: 0.875rem; color:black;font-weight: 800;"><font class="" style="font-size: 1rem;  color: #3576b7; font-weight: 800;">VALORISER NOS RESSOURCES & CULTIVER NOS TALENTS<br><br></font>
Le triathlon est un sport Olympique qui se partage, qui valorise la
diversité et l'égalité des chances.
Tout comme vous, nous permettons l'accès à la connaissance et aux
échanges en proposant des formations et des évènements accessibles à
tous dans le respect de la diversité.</p>
</div>
</div>
</div>
</div>


<h2 class="text-center text-uppercase pt-5"style="font-size: 2rem; color: #3576b7;font-weight: 800;">Le Partenariat </h2>
<h3  class="text-center text-uppercase p-4"style="font-size: 1.125rem; color:black;font-weight: 800;">Mécénat ou Sponsoring</h3>

<h4 class="text-uppercase pb-2 text-center" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">DEUX FORMULES 
DE PARTENARIATS
POSSIBLES </h4>
<p class="text-center" style="font-size: 0.875rem; color:black;font-weight: 800;">
Nous vous proposons deux offres de partenariats possibles
et vous fournissons des solutions globales pour répondre à
tous vos besoins en matière de communication.<br> Nous vous
assurons également une visibilité locale, régionale et
nationale que nous porterons avec fierté.
</p>


<div class="container-fluid">

<div class="row ps-5 pe-5 pt-3" style="background: #3576b7;">
<h3 class="p-1 pb-3 text-center text-uppercase"style="font-size: 1.5rem; color:#fff;font-weight: 800;">POURQUOI CHOISIR NOTRE FORMULE MÉCÈNAT</h3>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #fff;font-weight: 800;">La durée de
contrat</h4>
<p style="font-size: 0.875rem; color:white;font-weight: 800;">
Nous offrons une
garantie de partenariat
de 3 ans avec la
possibilité d'étaler vos
échéances en 3 fois ! 
</p>
</div>
</div>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #fff;font-weight: 800;">Les forfaits</h4>
<p style="font-size: 0.875rem; color:white;font-weight: 800;">
Nous vous proposons 
5 forfaits mécène qui
nous ressemble. Du
forfait XS au forfait
IRONMAN. Choisissez
celui qui vous convient !
</p>
</div>
</div>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #fff;font-weight: 800;">La communication</h4>
<p style="font-size: 0.875rem; color:white;font-weight: 800;">
Avec nos 2 principaux supports de
communication (banderoles ou &
affiches puis réseaux sociaux &
internet) impossible de ne pas être
vue. 
</p>
</div>
</div>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2"style="font-size: 1.125rem; color: #fff;font-weight: 800;">Les avantages</h4>
<p style="font-size: 0.875rem; color:white;font-weight: 800;">
En plus des 60% de réduction d'impôt
accordé par l'état pour votre don,
nous vous offons la possibilité de
disposer d'une offre sponsoring à
hauteur de 25% de la valeur de votre
don.</p>
</div>
</div>
</div>


<div class="row shadow-lg  bg-white  ps-5 pe-5 pt-3" style="background-color: rgba(0,0,0,0.05)">
<h3 class="p-1 pb-3 text-center text-uppercase"style="font-size: 1.5rem; color:#3576b7;font-weight: 800;">POURQUOI CHOISIR NOTRE FORMULE SPONSORING</h3>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">La durée de
contrat</h4>
<p style="font-size: 0.875rem; color:black;font-weight: 800;">
Nous offrons une
garantie de partenariat
de 3 ans avec la
possibilité d'étaler vos
échéances en 3 fois ! 
</p>
</div>
</div>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le marquage</h4>
<p style="font-size: 0.875rem; color:black;font-weight: 800;">
Vous bénéficiez d'une
multitude de choix de
marquage sur 3
thématiques de
communication !
</p>
</div>
</div>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2"style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Les thématiques</h4>
<p style="font-size: 0.875rem; color:black;font-weight: 800;">
Avec nos 3 principaux thèmes
support de communication
(Aquatique, cyclisme, et course à
pied) et leur choix multiple de
marquage, choisissez celui qui vous
ressemble !
</p>
</div>
</div>
<div class="col-md-3 p-4">
<div class="p-4">
<h4 class="text-uppercase pb-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Les ajustables</h4>
<p style="font-size: 0.875rem; color:black;font-weight: 800;">
Avec la large gamme d'offres que
nous vous proposons, vous pouvez
choir l'option la plus ajustée à votre
budget actuel.
</div>
</div>
</div>


</div>

 <h4 class="text-center text-uppercase pt-3 pb-2" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">DEVENEZ MAINTENANT NOTRE PARTENAIRE !</h4>
<p class="text-center p-3"style="font-size: 0.875rem; color:black;font-weight: 800;">
Pour en savoir plus n'hésitez pas à nous contacter <a href="{{ path('nous_contacter') }}" ><u>ici</u></a> !<br>
Nous sommes en mesure de vous aider à choisir la bonne formule et faire le bon choix ! 
</p>
<p class="text-center" style="font-size: 0.875rem; color:black;font-weight: 800;">
 83 Avenue Yver BP 40324 89005 AUXERRE Cedex Section AJA TRIATHLON 
 ajatriathlonauxerre@gmail.com
 </p>





{% endblock %}
