{% extends 'base.html.twig' %}

{% block title %}Hello PartenairesController!{% endblock %}

{% block body %}
<style>
@media screen and (max-width: 640px) {
  .span2 {
    position: absolute;
    left: -999em;
  }
}
</style>

<div class="container-fluid">
<h2 class="text-center text-uppercase p-4"style="font-size: 2rem; color: #3576b7;font-weight: 800;">NOS PARTENAIRES Privés</h2>
 <h1 class=" text-center p-2" style="font-size: 1.125rem; color: #000;font-weight: 800;">Nous adressons nos sincères remerciements<br> à toutes celles et ceux qui s’engagent à nos côtés</h1>
  <div class="text-center p-3" style="">

          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/P5G54m1/26172833-1785126698184625-1083224771048918063-o.jpg" style="height: 80px;"/>
          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/2dC0Kj4/Capture-d-cran-2022-01-13-220153.png" style="height: 80px;"/>
          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/xM9DPf5/logo-2.png" style="height: 80px;"/>
          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/vcV0bMY/Samsic-890x395-c.jpg" style="height: 80px;"/>
          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/p2FnFCd/t-l-chargement-2.png" style="height: 80px;"/>
          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/YB8CFHH/t-l-chargement-3.png" style="height: 80px;"/>
          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/HdFkP1Z/t-l-chargement-4.png" style="height: 80px;"/>
          <img class="img img-fluid img-thumbnail" src="https://i.ibb.co/n1jgx1z/PHOTO-2022-02-01-22-42-41.jpg" style="height: 80px;"/>

  </div>


    <div class="text-center  mt-3 p-4" style="">

         <p class="text-uppercase text-center" style="font-size: 0.75rem; color: #3576b7;font-weight: 800;">
         <a class="p-1"  href="https://www.cycles-guenin.fr/" target="_blank">Cycles Guenin</a>/
           <a class="p-1"  href="" target="_blank">Demo Design</a>/
          <a class="p-1"  href="https://www.vitalo89.fr/" target="_blank">Vitalo</a>/
           <a class="p-1"  href="https://www.samsic-emploi.fr/" target="_blank">Samsic Emploi</a>/
           <a class="p-1"  href="https://www.groupe123immo.com/" target="_blank">Groupe 123 Immo</a>/
            <a class="p-1"  href="https://www.batrium-renov.com/" target="_blank">Batrium Renov</a>/
             <a class="p-1"  href="https://www.moissonnier.fr/" target="_blank">Moissonnier</a>/
              <a class="p-1"  href="https://www.google.com/search?q=propulsion%20auxerre&rlz=1C1VDKB_frFR976FR976&oq=propulsion+auxerre&aqs=chrome..69i57j33i160.4477j0j4&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=76598748939416355&lqi=ChJwcm9wdWxzaW9uIGF1eGVycmVaFCIScHJvcHVsc2lvbiBhdXhlcnJlkgEbYXNzb2NpYXRpb25fb3Jfb3JnYW5pemF0aW9uqgESEAEqDiIKcHJvcHVsc2lvbigE&ved=2ahUKEwigsrXb87L6AhVS04UKHYAWBc4QvS56BAgOEAE&sa=X&rlst=f#lpc=lpc&rlfi=hd:;si:76598748939416355,l,ChJwcm9wdWxzaW9uIGF1eGVycmVaFCIScHJvcHVsc2lvbiBhdXhlcnJlkgEbYXNzb2NpYXRpb25fb3Jfb3JnYW5pemF0aW9uqgESEAEqDiIKcHJvcHVsc2lvbigE;mv:[[48.612936999999995,7.6530581],[43.0668041,2.5543685]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank">ProPulsion</a>
             </p>
        </div>
<h2 class="text-center pb-5"style="font-size: 2rem; color: #3576b7;font-weight: 800;"><a href="{{ path('institutionnels') }}"><button class="text-uppercase btn mb-1" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">NOS PARTENAIRES INSTITUTIONNELS</button></a><span class="span2 p-5"></span><a href="{{ path('devenir_partenaire') }}"><button  class="text-uppercase btn mb-1" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Devenir Partenaire</button><a/></h2>
</div>
{% endblock %}
