{% extends 'base.html.twig' %}

{% block title %}Hello MediaController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container">

  <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Articles d'autres sites :</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start d-flex">
         	{% for media3 in media3 %}
           	{% for media3 in media3.images %}
<div class="col-lg-3 col-md-4 col-6 d-flex justify-content-center align-items-center text-center mb-2 mt-2">
<div class="card">
   <a class="shadow-3-strong rounded mb-4" href="{{ asset('/uploads/'~media3.name) }}" data-lightbox="roadtrip"><img src="{{ asset('/uploads/'~media3.name) }}" class=" example-image img-thumbnail"></a>
               {% endfor %}
  <div class="card-body">
    <h5 class="card-title">{{ media3.titre }}</h5>
  </div>
  <div class="card-body">
    <a href="{{media3.media}}">Aller voir l'article de Press</a>
  </div>
</div>
  </div>

            {% endfor %}
 
     </div>
</div> 
</div>
{% endblock %}
