
<!-- bg-damier -->

<nav class="d-flex flex-column navbar navbar navbar-expand-lg" style=" height: 150px;
    background: url(https://i.ibb.co/DwQgGJV/pattern.png);
    background-position: center center;
    width: 100%;" >
<div class="container d-flex justify-content-center">
    <!-- Facebook -->
<div>
<a class="btn btn-primary m-2" style="background-color: white;" href="https://www.facebook.com/ajatriathlon/" target="_blank" role="button"
  ><i class="fab fa-facebook-f fa-lg"></i
></a>

</div>

</div>
<!--bg-damier -->


