<!-- bg-damier -->

<nav
	class="d-flex flex-column navbar navbar navbar-expand-lg" style=" height: 150px;
										    background: url(https://i.ibb.co/DwQgGJV/pattern.png);
										    background-position: center center;
										    width: 100%;">

	<!-- Facebook -->
	<div>
		<a class="btn btn-primary m-2" style="background-color: white;" href="https://www.facebook.com/ajatriathlon/" target="_blank" role="button">
			<i class="fab fa-facebook-f fa-lg"></i>
		</a>
		<span class="d-flex align-items-center ms-1" style="font-size: 1rem; color:white ;font-weight: 800;">
			Facebook</span>

		<h2 class="m-1 text-white" style="font-size: 1rem; color:black ;font-weight: 800;">Mentions Légales
																				 © 2022 AJ Auxerre Triathlon – tous droits réservés</h2>

		<div class="container-fluid d-flex justify-content-center position-relative text-center">
			<img class="img logoaja" src="https://i.ibb.co/kXP0tB4/Logoajatri.png" alt="Logoajatri" style="height: 12rem; width: auto; position: absolute; z-index: 1000000; top: -12rem;">
		</div>
	</div>


</nav>

<!--bg-damier -->
