<!-- bg-damier -->

<nav
	class="d-flex flex-column navbar navbar navbar-expand-lg pt-4" style=" height: 150px;
										    background: url(https://i.ibb.co/DwQgGJV/pattern.png);
										    background-position: center center;
										    width: 100%;">

	<!-- Facebook -->
	<div class="d-flex ">
		<a class="btn btn-primary m-2" style="background-color: white;" href="https://www.facebook.com/ajatriathlon/" target="_blank" role="button">
			<i class="fab fa-facebook-f fa-lg"></i>
		</a>
		<span class="d-flex align-items-center ms-1 me-3" style="font-size: 1rem; color:white ;font-weight: 800;">
			Facebook</span>

			<a class="btn btn-primary m-2" style="background-color: white;" href="https://www.instagram.com/ajatriathlon/?hl=fr" target="_blank" role="button">
			<i class="fa-brands fa-instagram fa-lg"></i>
		</a>
		<span class="d-flex align-items-center ms-1" style="font-size: 1rem; color:white ;font-weight: 800;">
			Instagram</span>
</div>
		<h2 class="m-1 text-white mt-3" style="font-size: 1rem; color:black ;font-weight: 800;">Mentions Légales
																				 © 2022 AJ Auxerre Triathlon – tous droits réservés</h2>

		



</nav>

<!--bg-damier -->
