
<!-- bg-damier -->

<nav class="d-flex flex-column navbar navbar navbar-expand-lg" style=" height: 150px;
    background: url(https://i.ibb.co/DwQgGJV/pattern.png);
    background-position: center center;
    width: 100%;" >
<div class="container d-flex justify-content-center">
    <!-- Facebook -->
<div>
<a class="btn btn-primary m-2" style="background-color: white;" href="#!" role="button"
  ><i class="fab fa-facebook-f fa-lg"></i
></a>

<!-- Twitter -->
<a class="btn btn-primary m-2" style="background-color: white;" href="#!" role="button"
  ><i class="fab fa-twitter fa-lg"></i
></a>

<!-- Instagram -->
<a class="btn btn-primary m-2" style="background-color: white;" href="#!" role="button"
  ><i class="fab fa-instagram fa-lg"></i
></a>

<!-- Linkedin -->
<a class="btn btn-primary m-2" style="background-color: white;" href="#!" role="button"
  ><i class="fab fa-linkedin-in fa-lg"></i
></a>
</div>

</div>
<!--bg-damier -->


