{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
    <style>
    .fftri:hover{
        transition: all linear 0.05s;
        transform: scale(1.05); 
    }

    </style>  
<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://images.pexels.com/photos/2168292/pexels-photo-2168292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:100px;">
        <div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
        <div class="col-md-8">
          <h2 class="text-uppercase p-1 m-0" style="font-size: 1.5rem; font-weight: 800;">à partir de 18 ans </h2>
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Section Compétition</h2>
        </div>
        <div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
    </div>
    <div class="position-relative container " style="border-top: 1px solid grey;border-left: 1px solid grey;border-right: 1px solid grey ;height: 80px; background-color: #FFF;">
        <h2 class="text-center pt-3"style="font-size: 2rem; color: #3576b7;font-weight: 800;">Pour nos compétiteurs</h2>
    </div>

<div class="container-fluid  p-0 m-0" style="background: linear-gradient(#3f90cb,#345fa5);">
<div class="container bg-white  position-relative shadow-5" >
<h2 class="mb-3 text-center" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Notre section compétition permet de rassembler tous les triathlètes ayant souscrit à la licence compétition.<br> Elle a pour objectif de permettre aux licenciés du Club de s’entraîner dans les différentes disciplines sportives<br> pour renforcer et créer des liens de convivialité au sein du groupe. Le but est de représenter le club lors des compétitions<br> (triathlons, duathlons, aquathlons, run and bike etc…). </h2>
<p class=" text-center" style="font-size: 1rem; color:black;font-weight: 800;">Le groupe se rassemble quatre fois par semaine, le mardi pour une séance de course pied, le jeudi pour une séance de préparation physique en salle,<br> le samedi pour une séance de natation et le dimanche pour la sortie vélo. 
La section réserve également tout au long de la saison quelques belles surprises. 
</p>

<div class="container p-5 ">
<div class="row">
<h2 class="" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
La licence compétition :
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
Elle vous permet de participer à toutes les courses de votre choix inscrites au calendrier fédéral sans payer de supplément et sans présenter de nouveau un certificat médical. Contrairement à un non-licencié ou un licencié loisir qui devra régler un Pass Compétition et fournir un certificat médical. Seul le prix d’inscription sera à régler pour un licencié compétition.
</p>
<h2 class="pt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Conditions d’accès : 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
– Avoir 18 ans et plus  <br>– Savoir nager 400 mètres nage libre <br>– Posséder un vélo de route pour participer aux entrainements  
</p>
<div class="text-start p-3">
<a href="{{ path('entrainements') }}"><h2 class="btn btn-white" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le planning d’entraînement <i class="fas fa-arrow-left"></i></h2></a>
</div>

<div class="row shadow rounded">

<div class="col-md-6 text-center p-3">
<h2 class="p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Tout savoir sur le Triathlon compétition de la F.F.TRI : 
</h2>
<div class="ratio ratio-16x9 text-center " style="max-height: 350px; width: auto; object-fit:contain ">
<iframe width="460" height="292" src="https://www.youtube.com/embed/YqXIrJbXyVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-6 text-center p-3">
<h2 class="p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Plus d'information ci-dessous sur le site de la F.F.TRI !
</h2>
<a href="https://www.fftri.com/pratiquer/se-licencier/les-avantages-de-la-licence-fftri/" target="_blank"><img class="img-thumbnail fftri" style="width: auto;  height:70%" src="https://www.fftri.com/wp-content/uploads/2018/03/2.jpg" alt="Logo-EFT-CMJN-1" border="0" style="background-color:#3576b7;"></a>
</div>

</div>
</div>
</div>
</div>
</div> 

<div class="position-relative container mb-5" style="border-left: 1px solid grey;border-bottom: 1px solid grey;border-right: 1px solid grey; height: 50px; background-color: #fff;">
</div>





</div>
{% endblock %}
