{% extends 'base.html.twig' %}

{% block title %}École de Triathlon{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
    <style>
    .fftri:hover{
        transition: all linear 0.05s;
        transform: scale(1.05); 
    }

    </style>  
<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/1vCyTkh/Whats-App-Image-2022-10-27-21-46-37.jpg) no-repeat center 70% fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:100px;">
        <div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
        <div class="col-md-8">
          <h2 class="text-uppercase p-1 m-0" style="font-size: 1.5rem; font-weight: 800;">de 12 à 17 ans </h2>
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Section ÉCOLE DE TRIATHLON</h2>
        </div>
        <div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
    </div>
    <div class="position-relative container " style="border-top: 1px solid white;border-left: 1px solid white;border-right: 1px solid white ;height: 80px; background-color: #FFF;">
        <h2 class="text-center pt-3"style="font-size: 2rem; color: #3576b7;font-weight: 800;">Triathlon Jeunes</h2>
    </div>

<div class="container-fluid  p-0 m-0" style="background: linear-gradient(#3f90cb,#345fa5);">
<div class="container bg-white  position-relative shadow-5" >
<h2 class="mb-3 text-center p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800; text-align: justify;">Notre section Ecole de triathlon s’adresse à tous les jeunes, de 12 à 17 ans, désirant découvrir le triathlon et tous les sports enchaînés de la FFTRI, et ce, quel que soit leur niveau de pratique. </h2>
<p class=" text-center p-2" style="font-size: 1rem; color:black;font-weight: 800;  text-align: justify;">L’école de triathlon de l’AJA TRIATHLON a été créée en 2021, elle compte aujourd’hui une petite dizaine d’adhérents. Aujourd’hui, le club souhaite développer son activité et envisage d’être labellisé par la FFTRI. 
</p>

<div class="container p-5 ">
<div class="row">
<h2 class="" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Ecole de Triathlon spécialement dédiée aux jeunes 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;  text-align: justify;" >
Si tu aimes tisser des liens d’amitié et de camaraderie et que tu as entre 12 et 17 ans, nous te proposons de découvrir le triathlon au sein de notre section jeunes. 

Tu y trouveras nos conditions d’entrainements adaptées pour t’aider à progresser dans toutes les disciplines que compte la pratique du triathlon. 

Si tu n’as pas encore 12 ans, un peu de patience, nous serons ravis de t’accueillir quand tu auras l’âge requis. 
</p>
<h2 class="pt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Conditions d’accès : 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
– Avoir entre 12 ans et 17 ans <br>– Savoir nager 100 mètres nage libre <br>– Posséder un VTT pour débuter les entrainements. 
</p>
<div class="text-start p-3">
<a href="{{ path('entrainements') }}"><h2 class="btn btn-white" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le planning d’entraînement</h2></a>
</div>

<div class="row shadow rounded">

<div class="col-md-6 text-center p-3">
<h2 class="p-2 pb-4" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Tout savoir sur l’école de triathlon ! 
</h2>
<div class="ratio ratio-16x9 text-center " style="max-height: 350px; width: auto; object-fit:contain ">
<iframe src="https://www.youtube.com/embed/7giy2wwuE4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="col-md-6 text-center p-3">
<h2 class="p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Plus d'information ci-dessous sur le site de la FFTRI !
</h2>
<a href="https://www.fftri.com/pratiquer/pratique-jeune/a-lecole-du-triathlon/" target="_blank"><img class="img-thumbnail fftri" src="https://i.ibb.co/TwDfGwy/Logo-EFT-CMJN-1.jpg" alt="Logo-EFT-CMJN-1" border="0" style="background-color:#3576b7;"></a>
</div>

</div>
</div>
</div>
</div>
</div> 

<div class="position-relative container mb-5" style="border-left: 1px solid white;border-bottom: 1px solid white;border-right: 1px solid white; height: 50px; background-color: #fff;">
</div>





</div>
{% endblock %}
