{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
    <style>
    .fftri:hover{
        transition: all linear 0.05s;
        transform: scale(1.05); 
    }

    </style>  
<div class="container-fluid">
      <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white  p-4">
            <h2 class="text-uppercase p-1 text-center" style="font-size: 2.5rem; font-weight: 800;">L'école de triathlon</h2>
        </div>
    </div>
</div>
</div>
<div class="container-fluid p-5" style="background: #ffff">
<h2 class="pb-4 text-center text-uppercase" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Triathlon Jeunes</h2>
<h2 class="mb-3 text-center" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Notre section Ecole de triathlon s’adresse à tous les jeunes, de 12 à 18 ans,<br> désirant découvrir le triathlon et tous les sports enchaînés de la FFTRI, et ce quel que soit leur niveau de pratique. </h2>
<p class=" text-center" style="font-size: 1rem; color:black;font-weight: 800;">L’école de triathlon de l’AJA TRIATHLON a été créé en 2021, elle compte aujourd’hui une petite dizaine d’adhérents.<br> Aujourd’hui, le club souhaite développer son activité et envisage d’être labellisé par la FFTRI. 
</p>
<div class="text-center">
<img class="img-thumbnail shadow-lg" src="https://i.ibb.co/MMFkXKH/PHOTO-2022-02-08-23-27-39.jpg" alt="PHOTO-2022-02-08-23-27-39" border="0" style="height: 300px;width:auto;">
</div>
<div class="container p-5">
<div class="row">
<h2 class="" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Ecole de Triathlon spécialement dédiée aux jeunes 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
Si tu aimes tisser des liens d’amitié et de camaraderie et que tu as entre 12 et 18 ans, nous te proposons de découvrir le triathlon au sein de notre section jeunes. 

Tu y trouveras nos conditions d’entrainements adaptées pour t’aider à progresser dans toutes les disciplines que compte la pratique du triathlon. 

Si tu n’as pas encore 12 ans, un peu de patience, nous serons ravis de t’accueillir quand tu auras l’âge requis. 
</p>
<h2 class="pt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Conditions d’accès : 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
– Avoir entre 12 ans et 18 ans <br>– Savoir nager 100 mètres nage libre <br>– Posséder un VTT pour débuter les entrainements. 
</p>
<div class="text-start p-3">
<a href="{{ path('entrainements') }}"><h2 class="btn btn-white" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le planning d’entraînement <i class="fas fa-arrow-left"></i></h2></a>
</div>

<div class="row shadow-lg rounded">

<div class="col-md-6 text-center p-3">
<h2 class="p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Tout savoir sur l’école de triathlon ! 
</h2>
<iframe width="460" height="292" src="https://www.youtube.com/embed/7giy2wwuE4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="col-md-6 text-center p-3">
<h2 class="p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Plus d'information ci-dessous sur le site de la FFTRI !
</h2>
<a href="https://www.fftri.com/pratiquer/pratique-jeune/a-lecole-du-triathlon/" target="_blank"><img class="img-thumbnail fftri" src="https://i.ibb.co/TwDfGwy/Logo-EFT-CMJN-1.jpg" alt="Logo-EFT-CMJN-1" border="0" style="background-color:#3576b7;"></a>
</div>

</div>

</div>
</div>
<div class="container bg-dark">


</div>

</div>


</div>
{% endblock %}
