{% extends 'base.html.twig' %}

{% block title %}Triathlon Loisir{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
    <style>
    .fftri:hover{
        transition: all linear 0.05s;
        transform: scale(1.05); 
    }

    </style>  
<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/2W8v9C3/Whats-App-Image-2022-10-27-21-48-50.jpg) no-repeat center 40% fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:100px;">
        <div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
        <div class="col-md-8">
          <h2 class="text-uppercase p-1 m-0" style="font-size: 1.5rem; font-weight: 800;">à partir de 18 ans</h2>
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Section Loirsir</h2>
        </div>
        <div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
    </div>
    <div class="position-relative container " style="border-top: 1px solid white;border-left: 1px solid white;border-right: 1px solid white ;height: 80px; background-color: #FFF;">
        <h2 class="text-center pt-5"style="font-size: 2rem; color: #3576b7;font-weight: 800;">LE CLUB AJA TRIATHLON </h2>
    </div>


<div class="container-fluid  p-0 m-0" style="background: linear-gradient(#3f90cb,#345fa5);">

    <div class="container bg-white  position-relative shadow-5" >

<h2 class="pb-4 text-center text-uppercase" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Triathlon loisir forme et santé </h2>


<div class="container pl-5 pr-5 pt-2 pb-2">
<div class="row">
<h2 class="" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Notre section loisir, forme et santé s’adresse à toutes et tous. 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;  text-align: justify;" >
C’est la porte d’entrée idéale pour découvrir toutes nos activités. Elles offrent à tous les nouveaux adhérents la possibilité de reprendre, maintenir une activité et progresser grâce à son contenu diversifié. Elles sont aussi souvent prétexte à découvrir notre beau territoire Icaunais à vélo et nos plus belles collines viticoles en running dans une ambiance toujours chaleureuse et conviviale. 
<br> Le groupe se rassemble quatre fois par semaine, le mardi pour une séance de course pied, le jeudi pour une séance de préparation physique en salle, le samedi pour une séance de natation et le dimanche pour la sortie vélo. 
</p>
<h2 class="pt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Conditions d’accès : 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
– Avoir 18 ans et plus <br>– Savoir nager 100 mètres nage libre <br>– Posséder un VTT pour débuter les entrainements. 
</p>
<div class="text-start p-3">
<a href="{{ path('entrainements') }}"><h2 class="btn btn-white" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le planning d’entraînement</h2></a>
</div>

<div class="row shadow rounded">

<div class="col-md-6 text-center p-3">
<h2 class="p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Tout savoir sur la section loisir, forme et santé ! 
</h2>
<iframe class="img-fluid" style="width: 460px; height: 292px;" src="https://www.youtube.com/embed/ntGDVWau82I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="col-md-6 text-center p-3">
<h2 class="p-2 mb-5" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Plus d'information ci-dessous sur le site de la FFTRI !
</h2>
<a href="https://www.fftri.com/nos-engagements/sante-bien-etre-loisirs/formations-coaching-triathlon-sante/" target="_blank"><img class="img-thumbnail fftri" src="https://www.fftri.com/wp-content/uploads/2018/10/BAT-FFTRI-TRIATHLON-SANT%C3%89-BANDEROLE-200-x-80-05-Medium.jpg" alt="Logo-EFT-CMJN-1" border="0" style="background-color:#3576b7;"></a>
</div>

</div>

</div>
</div>


</div>
</div>

<div class="position-relative container mb-5" style="border-left: 1px solid white;border-bottom: 1px solid white;border-right: 1px solid white; height: 50px; background-color: #fff;">
</div>
</div>
{% endblock %}
