{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
    <style>
    .fftri:hover{
        transition: all linear 0.05s;
        transform: scale(1.05); 
    }

    </style>  
<div class="container-fluid">
      <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white  p-4">
            <h2 class="text-uppercase p-1 text-center" style="font-size: 2.5rem; font-weight: 800;">Loisir</h2>
        </div>
    </div>
</div>
</div>
<div class="container-fluid p-5" style="background: #ffff">
<h2 class="pb-4 text-center text-uppercase" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Triathlon loisir forme et santé </h2>
<h2 class="mb-3 text-center" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Notre section loisir, forme et santé s’adresse à toutes et tous. C’est la porte d’entrée idéal pour découvrir toutes nos activités.<br> Elles offrent à tous les nouveaux adhérents la possibilité de reprendre, maintenir une activité et progresser grâce à son contenu diversifié. </h2>
<p class=" text-center" style="font-size: 1rem; color:black;font-weight: 800;">Elles sont aussi souvent prétexte à découvrir notre beau territoire Icaunais à Vélo et nos plus belles collines viticoles en running dans une ambiance toujours chaleureuse et conviviale. 
</p>
<div class="text-center">
<img class="img-thumbnail shadow-lg" src="" alt="PHOTO-2022-02-08-23-27-39" border="0" style="height: 300px;width:auto;">
</div>
<div class="container p-5">
<div class="row">
<h2 class="" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Notre section loisir, forme et santé s’adresse à toutes et tous. 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
C’est la porte d’entrée idéal pour découvrir toutes nos activités. Elles offrent à tous les nouveaux adhérents la possibilité de reprendre, maintenir une activité et progresser grâce à son contenu diversifié. elles sont aussi souvent prétexte à découvrir notre beau territoire Icaunais à Vélo et nos plus belles collines viticoles en running dans une ambiance toujours chaleureuse et conviviale. 
<br> Le groupe se rassemble quatre fois par semaine, le mardi pour une séance course pied, le jeudi pour une séance de préparation physique en salle, le samedi pour une séance natation et le dimanche pour la sortie vélo. 
</p>
<h2 class="pt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Conditions d’accès : 
</h2>
<p  style="font-size: 1rem; color:black;font-weight: 800;" >
– Avoir 18 ans et plus <br>– Savoir nager 100 mètres nage libre <br>– Posséder un VTT pour débuter les entrainements. 
</p>
<div class="text-start p-3">
<a href="{{ path('entrainements') }}"><h2 class="btn btn-white" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le planning d’entraînement <i class="fas fa-arrow-left"></i></h2></a>
</div>

<div class="row shadow-lg rounded">

<div class="col-md-6 text-center p-3">
<h2 class="p-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Tout savoir sur la section loisir, forme et santé ! 
</h2>
<iframe class="img-fluid" style="width: 460px; height: 292px;" src="https://www.youtube.com/embed/ntGDVWau82I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="col-md-6 text-center p-3">
<h2 class="p-2 mb-5" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">
Plus d'information ci-dessous sur le site de la FFTRI !
</h2>
<a href="https://www.fftri.com/nos-engagements/sante-bien-etre-loisirs/formations-coaching-triathlon-sante/" target="_blank"><img class="img-thumbnail fftri" src="https://www.fftri.com/wp-content/uploads/2018/10/BAT-FFTRI-TRIATHLON-SANT%C3%89-BANDEROLE-200-x-80-05-Medium.jpg" alt="Logo-EFT-CMJN-1" border="0" style="background-color:#3576b7;"></a>
</div>

</div>

</div>
</div>
<div class="container bg-dark">


</div>

</div>


</div>
{% endblock %}
