{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:100px;">
        <div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
        <div class="col-md-8">
          <h2 class="text-uppercase p-1 m-0" style="font-size: 1.5rem; font-weight: 800;">Agenda</h2>
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Entraînements et compétitions</h2>
        </div>
        <div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
    </div>
    <div class="position-relative container " style="border-top: 1px solid grey;border-left: 1px solid grey;border-right: 1px solid grey ;height: 80px; background-color: #FFF;">
        <h2 class="text-center pt-5 text-uppercase"style="font-size: 2rem; color: #3576b7;font-weight: 800;">Entraînement du club Aja</h2>
    </div>


<div class="container-fluid  p-0 m-0" style="background: linear-gradient(#3f90cb,#345fa5);">

    <div class="container bg-white  position-relative shadow-5" >
    <div class="row text-center p-5">
       <div class="col-md-6"><img src="https://i.ibb.co/44rz7Xg/IMG-20221023-WA0002.jpg" alt="IMG-20221023-WA0002" border="0"></div>
       <div class="col-md-6"><img src="https://i.ibb.co/LJ923mB/IMG-20221023-WA0003.jpg" alt="IMG-20221023-WA0003" border="0"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-6"><img src="https://i.ibb.co/xDyZKDT/IMG-20221023-WA0004.jpg" alt="IMG-20221023-WA0004" border="0"></div>
        <div class="col-md-6"><img src="https://i.ibb.co/jDRGPQD/IMG-20221023-WA0005.jpg" alt="IMG-20221023-WA0005" border="0"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-6"><img src="https://i.ibb.co/mzMrgmS/IMG-20221023-WA0006.jpg" alt="IMG-20221023-WA0006" border="0"></div>
        <div class="col-md-6"><img src="https://i.ibb.co/7n6N0Nx/IMG-20221023-WA0007.jpg" alt="IMG-20221023-WA0007" border="0"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6"><img src="https://i.ibb.co/C2cbRRM/Whats-App-Image-2022-10-23-16-23-06.jpg" alt="Whats-App-Image-2022-10-23-16-23-06" border="0"></div>
    </div>

 <h2 class=" pb-4 text-center text-uppercase" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Calendrier Sportif des compétitions</h2>

<div class="text-center ">
<a class="btn text-white" style="background-color:#3576b7;" href="https://bourgogne-franche-comte-triathlon.fr/index.php?page_id=27020" target="_blank">Calendrier des épreuves régionales et nationales<br>Ligue Bourgogne-Franche-Comté<a>
</div>
<div class="text-center mt-4 ">
<a class="btn text-white" style="background-color:#3576b7;" href="https://www.fftri.com/actualite/mise-a-jour-du-calendrier-des-epreuves-nationales-2022/" target="_blank">Mise à jour du calendrier des Epreuves Nationales 2022<a>
</div>
</div>
</div>


<div class="position-relative container mb-5" style="border-left: 1px solid grey;border-bottom: 1px solid grey;border-right: 1px solid grey; height: 50px; background-color: #fff;">
</div>




</div>
{% endblock %}
