{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://images.pexels.com/photos/39308/runners-silhouettes-athletes-fitness-39308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center 20% fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:100px;">
        <div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
        <div class="col-md-8">
          <h2 class="text-uppercase p-1 m-0" style="font-size: 1.5rem; font-weight: 800;">Agenda</h2>
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Entraînements et compétitions</h2>
        </div>
        <div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
    </div>
    <div class="position-relative container " style="border-top: 1px solid white;border-left: 1px solid white;border-right: 1px solid white ;height: 80px; background-color: #FFF;">
        <h2 class="text-center pt-5 text-uppercase"style="font-size: 2rem; color: #3576b7;font-weight: 800;">Entraînement du club Aja</h2>
    </div>


<div class="container-fluid  p-0 m-0" style="background: linear-gradient(#3f90cb,#345fa5);">

    <div class="container bg-white  position-relative shadow-5" >
    <div class="row text-center">
       <div class="col-md-6"><img class="img img-fluid" src="https://i.ibb.co/44rz7Xg/IMG-20221023-WA0002.jpg" alt="IMG-20221023-WA0002" border="0"></div>
       <div class="col-md-6"><img class="img img-fluid"  src="https://i.ibb.co/LJ923mB/IMG-20221023-WA0003.jpg" alt="IMG-20221023-WA0003" border="0"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-6"><img class="img img-fluid"  src="https://i.ibb.co/xDyZKDT/IMG-20221023-WA0004.jpg" alt="IMG-20221023-WA0004" border="0"></div>
        <div class="col-md-6"><img class="img img-fluid"  src="https://i.ibb.co/jDRGPQD/IMG-20221023-WA0005.jpg" alt="IMG-20221023-WA0005" border="0"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-6"><img class="img img-fluid"  src="https://i.ibb.co/4KK0Bk9/Whats-App-Image-2022-10-23-17-03-49.jpg" alt="IMG-20221023-WA0006" border="0"></div>
        <div class="col-md-6"><img class="img img-fluid"  src="https://i.ibb.co/7n6N0Nx/IMG-20221023-WA0007.jpg" alt="IMG-20221023-WA0007" border="0"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6"><img class="img img-fluid"  src="https://i.ibb.co/55HyW3s/Whats-App-Image-2022-10-23-16-23-07.jpg" alt="Whats-App-Image-2022-10-23-16-23-06" border="0"></div>
    </div>

 <h2 class=" pb-4 text-center text-uppercase" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Calendrier Sportif des compétitions</h2>

<div class="text-center ">
    <img
  src="https://scontent-cdt1-1.xx.fbcdn.net/v/t39.30808-6/311676596_549542343642526_5281697592288146928_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=rl23FsXqcbYAX9aQ3tJ&_nc_ht=scontent-cdt1-1.xx&oh=00_AfDcOtXOEimZRWpJBxSyroeAntWAN9o3F_ofORtXc6n-DQ&oe=635F541E"
  width="120"
  height="auto" /></div><div class="text-center">
<a class="btn text-white" style="background-color:#3576b7;" href="https://bourgogne-franche-comte-triathlon.fr/index.php?page_id=27020" target="_blank">Calendrier des épreuves régionales Ligue Bourgogne-Franche-Comté<a>
</div>
<div class="text-center mt-4 ">
    <img
  src="https://upload.wikimedia.org/wikipedia/fr/thumb/5/59/Logo_F%C3%A9d%C3%A9ration_Fran%C3%A7aise_Triathlon.svg/1200px-Logo_F%C3%A9d%C3%A9ration_Fran%C3%A7aise_Triathlon.svg.png"
  width="80"
  height="auto" /></div><div class="text-center">
<a class="btn text-white mt-3" style="background-color:#3576b7;" href="https://www.fftri.com/actualite/mise-a-jour-du-calendrier-des-epreuves-nationales-2022/" target="_blank">Calendrier des épreuves Nationales<a>
</div>
<div class="text-center mt-4 ">
    <img
  src="https://www.sportstravelmagazine.com/wp-content/uploads/2019/04/Ironman-logo_final.jpg"
  width="80"
  height="auto" /></div><div class="text-center">
<a class="btn text-white mt-3" style="background-color:#3576b7;" href="https://www.ironman.com/races" target="_blank">Calendrier des épreuves IronMan<a>
</div>
<div class="text-center mt-4 ">
    <img class=""
  src="https://cdn.worldvectorlogo.com/logos/xterra.svg"
  width="80"
  height="auto" /></div><div class="text-center">
<a class="btn text-white" style="background-color:#3576b7;" href="https://www.xterraplanet.com/events" target="_blank">Calendrier des épreuves XTerra<a>
</div>

</div>
</div>


<div class="position-relative container mb-5" style="border-left: 1px solid white;border-bottom: 1px solid white;border-right: 1px solid white; height: 50px; background-color: #fff;">
</div>




</div>
{% endblock %}
