{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid" style="background: white;">
    <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white text-center p-4">
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Agenda</h2>
        </div>
    </div>
    <h2 class="pt-5 text-center text-uppercase" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Planning d'entraînements</h2>
<div class="container">
    <div class="row text-start p-5">
        <div class="shadow col-md-4 rounded-start " style="border: 0.5rem solid #3576b7;background-position: center; background-image:  linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('https://images.pexels.com/photos/711187/pexels-photo-711187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
            <h2 class="pt-5 pb-5" style="color: rgba(51,103,214,1);">NATATION</h2>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">DÉBUTANT</h3>
                <p class="font-weight-bold">SAMEDI 16H - 17H</p>
                <p>Lieu : Stade Nautique COACH (2 couloirs) Antonio RIBEIRO DEJEPS</p>
            </article>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">INTERMEDIARE</h3>
                <p class="font-weight-bold">SAMEDI 17H - 18H15</p>
                <p>Lieu: Stade Nautique COACH (1 couloir) Antonio RIBEIRO DEJEPS</p>
            </article>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">CONFIRMÉ</h3>
                <p class="font-weight-bold">SAMEDI 17H - 18H15</p>
                <p>Lieu : Stade Nautique COACH (1 couloir) Antonio RIBEIRO DEJEPS</p>
            </article>
            <article class="pt-3 pb-3">
                <h3 style="color: rgba(51,103,214,1);">*OPTION NAT +</h3>
                <p class="font-weight-bold">SAMEDI 9H30 - 10H30 <br> LUNDI 20H30 - 21H30 <br> JEUDI 20H30 - 21H30</p>
                <p>Lieu : Stade Nautique COACH (AAC)</p>
            </article>
        </div>

        <div class="shadow col-md-4 "  style="border-top: 0.5rem solid #3576b7; border-bottom: 0.5rem solid #3576b7;background-position: center; background-image:  linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('https://images.pexels.com/photos/3642482/pexels-photo-3642482.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
            <h2 class="pt-5 pb-5" style="color: rgba(51,103,214,1);">VÉLO</h2>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">AJA TRIATHLON</h3>
                <p class="font-weight-bold">DIMANCHE 9H - 12H</p>
                <p>Lieu : Parking de la Noue COACH <br>Michaël TRIPIER BF2 Fabien GAUDICHON BF2</p>
            </article>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">AJA TRIATHLON</h3>
                <p class="font-weight-bold">JEUDI 18H30-19H45</p>
                <p>Lieu : Complexe R.Y AUBIN COACH Fabien GAUDICHON BF2</p>
            </article>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">JEUNE</h3>
                <p class="font-weight-bold">VENDREDI 17H15 - 18H15</p>
                <p>Lieu : Stade Auxerrois COACH Gaëlle BRETON BF1</p>
            </article>
        </div>

        <div class="shadow col-md-4 rounded-end "  style="border: 0.5rem solid #3576b7; background-position: center; background-image:  linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('https://images.pexels.com/photos/2524739/pexels-photo-2524739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
            <h2 class="pt-5 pb-5" style="color: rgba(51,103,214,1);">CAP <span style='font-size: 1rem;'>(course à pied)</span></h2>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">CONFIRMÉ</h3>
                <p class="font-weight-bold">MARDI 18H15 - 19H30</p>
                <p>Lieu : Stade Auxerrois COACH AJAMARATHON</p>
            </article>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">DÉBUTANT</h3>
                <p class="font-weight-bold">MERCREDI 17H45- 19H30</p>
                <p>Lieu : Stade Auxerrois COACH AJA MARATHON</p>
            </article>
            <article class="pt-3 pb-3">
                <h4 style="color: rgba(51,103,214,1);">GROUPE</h4>
                <h3 style="color: rgba(51,103,214,1);">AJA TRIATHLON</h3>
                <p class="font-weight-bold">VENDREDI 18H15 - 19H15</p>
                <p>Lieu : Stade Auxerrois COACH Gaëlle BRETON BF1 Michaël TRIPIER BF2</p>
            </article>

        </div>
    </div>

 <h2 class=" pb-4 text-center text-uppercase" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Calendrier Sportif</h2>

<div class="text-center ">
<a class="btn text-white" style="background-color:#3576b7;" href="https://drive.google.com/file/d/1br59pEQO4O1-wEEIDYa3om8a-kh6VEin/view?usp=sharing" target="_blank">PDF du Calendrier des épreuves régionales et nationales<br>Ligue Bourgogne-Franche-Comté<a>
</div>
<div class="text-center mt-4 mb-3">
<a class="btn text-white" style="background-color:#3576b7;" href="https://www.fftri.com/actualite/mise-a-jour-du-calendrier-des-epreuves-nationales-2022/" target="_blank">Mise à jour du calendrier des Epreuves Nationales 2022<a>
</div>
</div>
</div>






</div>
{% endblock %}
