{% extends 'base.html.twig' %}

{% block title %}Tarifs
{% endblock %}

{% block body %}
	<style>

		@media screen and(max-width: 100000px) {
			.logoaja {
				position: absolute;
				left: -999em;
			}
		}
	</style>
	<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
																														                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://images.pexels.com/photos/1111319/pexels-photo-1111319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center 80% fixed;
																														                -webkit-background-size: cover;
																														                -moz-background-size: cover;
																														                -o-background-size: cover;
																														                background-size: cover; ">
		<div class="row text-white text-center p-0 ms-0 me-0" style="margin-bottom:100px;">
			<div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
			<div class="col-md-8">
				<h2 class="text-uppercase p-1 m-0" style="font-size: 1.5rem; font-weight: 800;">RÉPARTITION DU COÛT
																																																		DE VOTRE COTISATION</h2>
				<h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Tarifs</h2>
			</div>
			<div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
		</div>



	<div class="position-relative container " style="border-top: 1px solid white;border-left: 1px solid white;border-right: 1px solid white ;height: 80px; background-color: #FFF;">
		<h2 class="text-center text-uppercase pt-4" style="font-size: 2rem; color: #3576b7;font-weight: 800;">Nos tarifs</h2>
	</div>


	<div class="container-fluid bg-white  p-0 m-0">
		<div class="container bg-white  position-relative shadow-5 ps-5 pe-5 pt-2">
			<div class="row ps-4 pe-4">

				<p style="font-size: 1rem; color:black;font-weight: 800; text-align: justify;">L'AJA TRIATHLON attache une grande importance dans la gestion administrative et
																																																										sportive de son association.
																																																										C’est en toute transparence que nous vous communiquons la répartition du coût de votre
																																																										adhésion à notre section.
																																																										A ce jour le club ne bénéficie d’aucun Label reconnu par la Fédération Française de
																																																										Triathlon.
																																																										Mais sachez que l’ensemble des bénévoles qui participent depuis la création de cette
																																																										section de l’AJAO en 1988 à son développement, mettent tout en œuvre pour satisfaire les
																																																										adhérents dans leur pratique;
																																																										qu’elle soit compétitive, de loisir ou jeune, vous pouvez tous vous épanouir.
				</p>

				<p class="p-2" style="font-size: 1rem; color:black;font-weight: 800;">
					Répartition du coût de la cotisation pour un nouvel adhérent :
				</p>

				<div class="d-flex p-0">
					<p class="text-white     p-2 h4" style="font-weight: 400; background:rgba(166,166,166,255);">Cotisation FFTri + ligue</p>
					<p class="text-white  p-2 h4" style="font-weight: 400; background:rgba(239,126,48,255)">Gestion club</p>
					<p class="text-white p-2 h4" style="font-weight: 400; background:rgba(71,112,195,255)">Cotisation AJAO</p>
				</div>


			</div>
			<div class="row">
				<div class="col-md-4">
					<img class="img img-fluid" src="https://i.ibb.co/jf0682v/Whats-App-Image-2022-10-25-20-03-38.jpg" alt="Whats-App-Image-2022-10-25-20-03-38" border="0">
				</div>
				<div class="col-md-4">
					<img class="img  img-fluid" src="https://i.ibb.co/zQWLDWG/Whats-App-Image-2022-10-25-20-03-39.jpg" alt="Whats-App-Image-2022-10-25-20-03-39" border="0">
				</div>
				<div class="col-md-4">
					<img class="img  img-fluid" src="https://i.ibb.co/f2FjtNW/Whats-App-Image-2022-10-25-20-03-3933.png" alt="Whats-App-Image-2022-10-25-20-03-3933" border="0">
				</div>
			</div>
			<div class="row d-flex justify-content-center  mt-4">
				<div class="col-md-10  text-center">
					<img class="img img-fluid " src="https://i.ibb.co/nMK0Qkt/Whats-App-Image-2022-10-25-20-03-37.jpg" alt="Whats-App-Image-2022-10-25-20-03-37" border="0">
				</div>
			</div>
		</div>
	</div>
	<div class="position-relative container mb-5" style="border-left: 1px solid white;border-bottom: 1px solid white;border-right: 1px solid white; height: 50px; background-color: #fff;"></div>
	{% endblock %}
  
