{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
}
</style>
<div class="container-fluid">
      <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white text-center p-4">
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Tarifs</h2>
        </div>
    </div>
</div>
</div>
<div class="container-fluid p-5" style="background: #ffff">
<div class="row">
<h2 class="text-center p-4" style="font-size: 2rem; color: #3576b7;font-weight: 800;">RÉPARTITION DU COÛT
DE VOTRE COTISATION</h2>
<p style="font-size: 1rem; color:black;font-weight: 800;">L'AJA TRIATHLON attache une grande importance dans la gestion administrative et
sportive de son association.
C’est en toute transparence que nous vous communiquons la répartition du coût de votre
adhésion à notre section.
A ce jour le club ne bénéficie d’aucun Label reconnu par la Fédération Française de
Triathlon.
Mais sachez que l’ensemble des bénévoles qui participent depuis la création de cette
section de l’AJAO en 1988 à son développement, mettent tout en œuvre pour satisfaire les
adhérents dans leur pratique.
Qu’elle soit compétitive, de loisir ou jeune, vous pouvez tous vous épanouir. 
</p>

<p class="p-2" style="font-size: 1rem; color:black;font-weight: 800;">
Répartition du coût de la cotisation pour un nouvel adhérent :
</p>
<div class="d-flex p-0">
<p class="text-white  bg-dark bg-opacity-25 p-2" style="font-size: 1rem ;font-weight: 400;">Cotisation FFTri + ligue</p>
<p class="text-white bg-warning bg-opacity-75 p-2" style="font-size: 1rem ;font-weight: 400;">Gestion club</p>
<p class="text-white bg-primary bg-opacity-75 p-2" style="font-size: 1rem ;font-weight: 400;">Cotisation AJAO</p>
</div>

<h2 class="text-uppercase p-1" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Jeune :</h2>
<div class="progress p-0 mt-3 mb-3" style="height: 40px;">
  <div class="progress-bar bg-dark bg-opacity-25" role="progressbar" style="width: 54%;" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">47 €</span></div>
   <div class="progress-bar bg-warning bg-opacity-75" role="progressbar" style="width: 42%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">37 €</span></div>
    <div class="progress-bar bg-primary bg-opacity-75" role="progressbar" style="width: 4%;" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">3 €</span></div>
</div>




<h2 class="text-uppercase p-1" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Loisir :</h2>
<div class="progress p-0 mt-3 mb-3" style="height: 40px;">
  <div class="progress-bar bg-dark bg-opacity-25" role="progressbar" style="width: 43%;" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">45 €</span></div>
   <div class="progress-bar bg-warning bg-opacity-75" role="progressbar" style="width: 54%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">57 €</span></div>
    <div class="progress-bar bg-primary bg-opacity-75" role="progressbar" style="width: 3%;" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">3 €</span></div>
</div>



<h2 class="text-uppercase p-1" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Compétition :</h2>
<div class="progress p-0 mt-3 mb-3" style="height: 40px;">
  <div class="progress-bar bg-dark bg-opacity-25" role="progressbar" style="width: 63%;" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">102 €</span></div>
   <div class="progress-bar bg-warning bg-opacity-75" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">57 €</span></div>
    <div class="progress-bar bg-primary bg-opacity-75" role="progressbar" style="width: 2%;" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"><span style="font-weight: 800;">3 €</span></div>
</div>



</div>

<table class="table text-white" style="background: linear-gradient(#345fa5,#3f90cb); border: solid 4px; border-radius: 10px; ">
  <tbody>
    <tr>
      <th scope="col">PRESTATIONS</th>
      <th scope="col">JEUNE (12-17 ans)</th>
      <th scope="col">LOISIR (18+)</th>
      <th scope="col">COMPÉTITION</th>
    </tr>

    <tr>
      <td>Adhésion</td>
      <td>40€</td>
      <td>60€</td>
      <td>60€</td> 
    </tr>
    <tr>
      <td>Licence FFTri</td>
      <td>47€</td>
      <td>45€</td>
      <td>102€</td>
    </tr>
    <tr style="color: #3576b7; background-color: #fff;">
        <th style="font-weight: 1000;" scope="col">TOTAL :</th>
        <th style="font-weight: 1000;" scope="col">87€</th>
        <th style="font-weight: 1000;" scope="col">105€</th>
        <th style="font-weight: 1000;" scope="col">162€</th>
    </tr>
    <tr>
      <td>Entraînements Natation Hebdomadaire</td>
      <td>1H</td>
      <td>1H</td>
      <td>1H30</td>
    </tr>
    <tr>
      <td>Entraînements CAP Hebdomadaire</td>
      <td>3H</td>
      <td>3H</td>
      <td>3H</td>
    </tr>
    <tr>
      <td>Entraînements Vélo Hebdomadaire</td>
      <td>2H</td>
      <td>2H</td>
      <td>3H</td>
    </tr>
    <tr>
      <td>Entraînements PPG Hebdomadaire</td>
      <td>1H</td>
      <td>1H30</td>
      <td>1H30</td>
    </tr>
    <tr>
      <td>Option PACK NAT + AAC*</td>
      <td>oui</td>
      <td>oui</td>
      <td>oui</td>
    </tr>
    <tr>
      <td>Pack équipement de la saison</td>
      <td>oui</td>
      <td>oui</td>
      <td>oui</td>
    </tr>
    <tr>
      <td>Engagement représentation Club en compétition</td>
      <td>1</td>
      <td>non</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Animation Club</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Stages sportifs proposés**</td>
      <td>oui</td>
      <td>oui</td>
      <td>oui</td>
    </tr>
    </tbody>
</table>


<div class="row text-dark">
<p>**Stage organisé suivant approbation, mise en place de l'organisation et le nombre de participants. Le Jumelage peut s'envisager avec un autre club de la fédération.<br>
*Moyennant une cotisation au club de l'AAC trimestrielle ou annuelle définie chaque année.
<br><span style="font-style:italic"> Pour plus d'informations contactez nous sur la boîte mail : " ajatriathlonauxerre@gmail.com "</span>
</p>
</div>


</div>


</div>
{% endblock %}