{% extends 'base.html.twig' %}

{% block title %}L'arbitrage{% endblock %}

{% block body %}
<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://images.pexels.com/photos/5687479/pexels-photo-5687479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:100px;">
        <div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
        <div class="col-md-8">
          <h2 class="text-uppercase p-1 m-0 pb-4" style="font-size: 1.5rem; font-weight: 800;">Acteurs de terrain de premier plan, les arbitres tout comme les bénévoles sont des maillons essentiels au bon déroulement des épreuves.</h2>
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">L'arbitrage</h2>
        </div>
        <div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
    </div>
    <div class="position-relative container p-0 " style="height: 80px; background-color: #FFF;">
        <h2 class="teeest text-center p-5 text-uppercase"style="font-size: 2rem; color: #3576b7;font-weight: 800; border-top: 1px solid white;border-left: 1px solid white;border-right: 1px solid white;">Devenir arbitre de l'AJA </h2>
    </div>
<style>
  @media screen and (max-width: 800px) {
.teeest{
    padding: 0!important;
}
}
</style>
<div class="container-fluid  p-0 m-0" style="background: linear-gradient(#3f90cb,#345fa5);">
<div class="container bg-white position-relative shadow-5"  >
<h2 class="text-center pt-4"style="font-size: 2rem; color: #3576b7;font-weight: 800;">Vous souhaitez vous investir autrement dans le triathlon ? </h2>
<h3  class="text-center pt-3"style="font-size: 1.125rem; color:black;font-weight: 800; text-align: justify;">Participez concrètement au développement de notre sport, rejoignez le corps arbitral du club de l’AJA TRIATHLON et de la FFTRI. </h3>

<div class="container text-dark ps-5 pe-5">
<blockquote class="blockquote mb-4 text-center p-4">
                              <p>
                                <i class="fas fa-quote-left fa-lg text-dark me-2"></i>
                                <span class="font-italic" style="text-align: justify;">Le sport, c’est d’abord la confrontation, c’est aussi le plaisir d’une rencontre, la joie d’être ensemble, c’est enfin le respect des règles et de celui qui les fait appliquer !</span>
                              <i class="fas fa-quote-right fa-lg text-dark ms-2"></i>
                              </p>
 </blockquote>







<h4 class="text-center" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Quel est le rôle des arbitres ? <br><br></h4>
<h4 class="pt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le Rôle de l’arbitrage : </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800; text-align: justify;">
L’arbitre des épreuves agréées par la F.F.TRI. fait partie intégrante de toute pratique sportive. Il est, quelque soit le niveau de l’épreuve, dans un premier temps éducatif, afin d’accompagner pédagogiquement le participant, avant d’être éventuellement répressif. 


Garant du respect des règles de course, il est, en tant qu’arbitre principal, conseiller auprès de l’organisation sur le terrain le jour de l’épreuve et, le cas échéant, représentant de la FFTRI. 
</p>

<h4 class="pt-4" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Garant des règles de course </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800; text-align: justify;">
Par une formation actualisée à chaque début de saison, les arbitres de la FFTRI sont en mesure de connaître en détail les règles de course en vigueur, saison après saison, quelques soit le type d’épreuve (triathlon, duathlon, aquathlon, bike & run, raid, etc…), son niveau (loisirs, compétition, élite…), et ses modalités spécifiques (individuels, par équipe, en relais…) 
</p>
<h4 class="pt-4" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Conseiller auprès des organisations </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800; text-align: justify;">
Par leur expérience et leurs compétences développées au fil des épreuves et des saisons, par leur agrément accordé par la Commission Régionale d’Arbitrage (CRA) ou la Commission Nationale d’Arbitrage (CNA), ils peuvent apporter aide et conseils auprès des membres de l’organisation, que ce soit dans le dispositif ou dans les actions entreprises par les bénévoles. 
</p>

<h4 class="pt-4" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Représentant de la F.F.TRI. </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800; text-align: justify;">
En cas d’absence d’élu fédéral, l’arbitre principal d’une épreuve peut être amené à assumer un rôle en relations publiques auprès des autorités locales ou des médias tout en respectant un devoir de réserve. 
</p>

<div class="row pt-3 pb-3">
            <div class="col-md-5 mt-3" style="border-top: 1px solid #000;
            max-width : 100%; ">
            </div>
            <div class="col-md-2 p-0 m-0 text-center"><h2 class="text-uppercase " style="color: #3576b7 ;font-size: 1.4rem; font-weight: 800;">Les Arbitres</h2>
            </div>
            <div class="col-md-5 mt-3" style="border-top: 1px solid #000;
            max-width : 100%;"></div>
</div>
<style>

.profile-card-2 {
    max-width: 250;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;

}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 50px;
    font-size: 28px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    transition: all linear 0.3s;
    filter: grayscale(100%);
    transform: scale(1.1);
}
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}
.zoom:hover{
    transition: all linear 0.05s;
    transform: scale(1.05); 
}
</style>



<div class="container">
        <div class="row shadow-lg p-3 mb-5  rounded" style="background-color: #3576b7;">

        <div class="col-md-4">
            <h4 class="text-center"><strong></strong></h4>

            <a href="">
            <div class="profile-card-2" style="height: 250px; width:auto"><img style="height: 250px; width: auto;" src="https://i.ibb.co/CHfRvnB/Whats-App-Image-2022-08-19-at-17-36-53.jpg" class="img img-fluid ">
                <div class="profile-name" style="font-size:1.5rem;">Arbitre Assesseur Régional 
</div>
                <div class="profile-username"></div>
               <!-- <div class="profile-icons"><a href="#"><i class="text-white fab fa-facebook-f fa-lg"></i></a></div> -->
            </div>
            </a>
             <p class="text-white"></p>
        </div>

        <div class="col-md-4">
            <h4 class="text-center"><strong></strong></h4>
            <a href="">
            <div class="profile-card-2" style="height: 250px; width:auto"><img src="https://i.ibb.co/Z8WTHJh/Whats-App-Image-2022-08-19-at-18-23-57.jpg" class="img img-fluid ">
                <div class="profile-name">Arbitre pré-national 
</div>
                <div class="profile-username"></div>

               <!-- <div class="profile-icons"><a href="#"><i class="text-white fab fa-facebook-f fa-lg"></i></a></div> -->
            </div>
            </a>
             <p class="text-white"></p>
        </div>
        <div class="col-md-4">
            <h4 class="text-center"><strong></strong></h4>
            <a href="">
            <div class="profile-card-2" style="height: 250px; width:auto"><img src="https://i.ibb.co/sqf7sR8/bg10.jpg" class="img img-fluid ">
                <div class="profile-name">Arbitre National 
</div>
                <div class="profile-username"></div>
               <!-- <div class="profile-icons"><a href="#"><i class="text-white fab fa-facebook-f fa-lg"></i></a></div> -->
            </div>
            </a>
             <p class="text-white"></p>
        </div>
    </div>
</div>


<p class="p-2 m-0 text-center" style="font-size: 1rem; color:black;font-weight: 500; text-align: justify;">
Venez rejoindre l'équipe !<br>

Si vous souhaitez devenir arbitre féféral, vous devez bien évidemment suivre une formation organisée tous les ans. <br>

Pour en savoir plus sur l’arbitrage rendez-vous sur le site de la FFTRI<br>


</p>
</div>
</div>
</div>
<div class="position-relative container mb-5 text-center" style="border-left: 1px solid white;border-bottom: 1px solid white;border-right: 1px solid white; height: 70px; background-color: #fff;">
<a href="https://arbitrage-fftri.com/" target="_blank"><span class="btn btn-white mt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">FFTRI ARBITRAGE </span></a>
</div>
</div>

{% endblock %}
