{% extends 'base.html.twig' %}

{% block title %}Hello HistoriqueController!{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white text-center p-4">
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Arbitrage</h2>
        </div>
    </div>
</div> 
<div class="container-fluid">
<h2 class="text-center pt-4"style="font-size: 2rem; color: #3576b7;font-weight: 800;">Vous souhaitez vous investir autrement dans le triathlon ? </h2>
<h3  class="text-center pt-3"style="font-size: 1.125rem; color:black;font-weight: 800;">Participez concrètement au développement de notre sport, rejoignez le corps arbitral du club de l’AJA TRIATHLON et de la FFTRI. </h3>

<div class="container text-dark ps-5 pe-5">
<h4 class="text-center" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le sport, c’est d’abord la confrontation ; c’est aussi le plaisir d’une rencontre, la joie d’être ensemble ; c’est enfin le respect des règles et de celui qui les fait appliquer ! <br><br></h4>

<div class="text-center">
<img class="img-thumbnail" src="https://i.ibb.co/q77JYnC/PHOTO-2022-02-08-19-48-53.jpg" alt="PHOTO-2022-02-08-19-48-53" border="0">
</div>

<p class="text-center pt-2" style="font-size: 1rem; color:black;font-weight: 800;">
Acteurs de terrain de premier plan, les arbitres tout comme les bénévoles sont des maillons essentiels au bon déroulement des épreuves. 
</p>

<h4 class="pt-4 text-center" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">Nos athlètes ont besoins de vous ! <br></h4>
<h4 class="text-center" style="font-size: 1.5rem; color: #3576b7;font-weight: 800;">Quel est le rôle des arbitres ? <br><br></h4>
<h4 class="pt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Le Rôle de l’arbitrage : </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800;">
L’arbitre des épreuves agréées par la F.F.TRI. fait partie intégrante de toute pratique sportive. Il est, quelque soit le niveau de l’épreuve, dans un premier temps éducatif, afin d’accompagner pédagogiquement le participant, avant d’être éventuellement répressif. 

<br>
Garant du respect des règles de course, il est, en tant qu’arbitre principal, conseiller auprès de l’organisation sur le terrain le jour de l’épreuve et, le cas échéant, représentant de la FFTRI. 
</p>

<h4 class="pt-4" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Garant des règles de course </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800;">
Par une formation actualisée à chaque début de saison, les arbitres de la FFTRI sont en mesure de connaître en détail les règles de course en vigueur, saison après saison, quelques soit le type d’épreuve (triathlon, duathlon, aquathlon, bike & run, raid, etc…), son niveau (loisirs, compétition, élite…), et ses modalités spécifiques (individuels, par équipe, en relais…) 
</p>
<h4 class="pt-5" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Conseiller auprès des organisations </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800;">
Par leur expérience et leurs compétences développées au fil des épreuves et des saisons, par leur agrément accordé par la Commission Régionale d’Arbitrage (CRA) ou la Commission Nationale d’Arbitrage (CNA), ils peuvent apporter aide et conseils auprès des membres de l’organisation, que se soient dans le dispositif ou dans les actions entreprises par les bénévoles. 
</p>

<h4 class="pt-5" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Représentant de la F.F.TRI. </h4>
<p class="pt-2" style="font-size: 1rem; color:black;font-weight: 800;">
En cas d’absence d’élu fédéral, l’arbitre principal d’une épreuve peut être amené à assumer un rôle en relations publiques auprès des autorités locales ou des médias tout en respectant un devoir de réserve. 
</p>

<div class="row pt-3 pb-3">
            <div class="col-md-5 mt-3" style="border-top: 1px solid #000;
            max-width : 100%; ">
            </div>
            <div class="col-md-2 p-0 m-0"><h2 class="text-uppercase ps-2" style="color: #3576b7 ;font-size: 1.5rem; font-weight: 800;">Nos Arbitres</h2>
            </div>
            <div class="col-md-5 mt-3" style="border-top: 1px solid #000;
            max-width : 100%;"></div>
</div>
<style>

.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;

}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 50px;
    font-size: 28px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    transition: all linear 0.3s;
    filter: grayscale(100%);
    transform: scale(1.1);
}
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}
.zoom:hover{
    transition: all linear 0.05s;
    transform: scale(1.05); 
}
</style>



<div class="container">
        <div class="row shadow-lg p-3 mb-5  rounded" style="background-color: #3576b7;">

        <div class="col-md-4">
            <h4 class="text-center"><strong></strong></h4>

            <a href="">
            <div class="profile-card-2" style="height: 300px; width:auto"><img src="" class="img img-fluid ">
                <div class="profile-name" style="font-size:1.5rem;">nom prénom</div>
                <div class="profile-username"></div>
               <!-- <div class="profile-icons"><a href="#"><i class="text-white fab fa-facebook-f fa-lg"></i></a></div> -->
            </div>
            </a>
             <p class="text-white">Description</p>
        </div>

        <div class="col-md-4">
            <h4 class="text-center"><strong></strong></h4>
            <a href="">
            <div class="profile-card-2" style="height: 300px; width:auto"><img src="" class="img img-fluid ">
                <div class="profile-name">nom prénom</div>
                <div class="profile-username"></div>
               <!-- <div class="profile-icons"><a href="#"><i class="text-white fab fa-facebook-f fa-lg"></i></a></div> -->
            </div>
            </a>
             <p class="text-white">Description</p>
        </div>
        <div class="col-md-4">
            <h4 class="text-center"><strong></strong></h4>
            <a href="">
            <div class="profile-card-2" style="height: 300px; width:auto"><img src="" class="img img-fluid ">
                <div class="profile-name">nom prénom</div>
                <div class="profile-username"></div>
               <!-- <div class="profile-icons"><a href="#"><i class="text-white fab fa-facebook-f fa-lg"></i></a></div> -->
            </div>
            </a>
             <p class="text-white">Description</p>
        </div>
    </div>
</div>


<p class="pt-2 text-center" style="font-size: 1rem; color:black;font-weight: 500;">
VENEZ REJOINDRE L’EQUIPE . <br>

SI VOUS SOUHAITER DEVENIR ARBITRE FÉDÉRAL, VOUS DEVEZ BIEN EVIDEMMENT SUIVRE UNE FORMATION ORGANISÉE TOUS LES ANS. <br>

RDV SUR LE SITE DE LA FFTRI: <br>

<a href="https://arbitrage-fftri.com/" target="_blank"><span class="btn btn-white mt-2" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">FFTRI ARBITRAGE </span></a>
</p>
</div>
</div>



{% endblock %}
