{% extends 'base.html.twig' %}

{% block title %}Hello HistoriqueController!{% endblock %}

{% block body %}
<style>

@media screen and (max-width: 100000px) {
  .logoaja {
    position: absolute;
    left: -999em;
  }
      .card:hover{
        transition: all linear 0.05s;
        transform: scale(1.05); 
    }

}
</style>
<div class="container-fluid">
    <div class="row"style="
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/r247yR3/IMG-1142.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
        <div class="col-md-12 text-white text-center p-4">
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">Le Bureau</h2>
        </div>
    </div>
</div>

<div class="container-fluid" style="background: url(https://i.ibb.co/yWnwbP6/pattern-big.png)  center center ; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">


<div class="container p-5" style="background-color: rgba(51,103,214,0;)">
    <div class="row">
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img 
                    src=" https://i.ibb.co/TgB4fhW/Photo-Room-20201119-212215.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;">ANTONIO RIBEIRO</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">
                    CO-PRÉSIDENT <br> PÔLE SPORTIF & COMMUNICATION 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/NFm9PXf/Photo-Room-20201118-072823.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">STÉPHANE DUVAL</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">CO-PRESIDENT <br> PÔLE ADMINISTRATIF & FINANCIER
                    </p>
                </div>
            </div>
        </div>
         <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/hKgLqZ4/Photo-Room-20201119-130335.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">MICHAEL TRIPIER</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">PÔLE EQUIPEMENTS & ARBITRAGE

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-5 ">
    <div class="row">
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/VtLJQyd/Photo-Room-20201119-093017.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">SABRINA AUBRY</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">
                    SECRÉTAIRE <br> PÔLE ADMINISTRATIF & FINANCIER 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/dBwyVvQ/PHOTO-2022-01-27-11-09-21.jpg"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">ROMAIN HERBILLON</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">SECRÉTAIRE ADJOINT <br> PÔLE ÉQUIPEMENT & ÉVÈNEMENTS 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/t2pq2r2/Unknown.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">ALEXANDRA ROLLET</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">TRÉSORIÈRE <br> PÔLE ADMINISTRATIF & FINANCIER


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-5" style="background: rgb(255,255,255,0);">
    <div class="row">
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/sFmqpvy/Photo-Room-20201118-072756.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">FABIEN GAUDICHON</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">
                   PÔLE JEUNES & ANIMATION 

                    </p>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/34gVk45/Photo-Room-20201118-072736.png"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">GAËLLE BRETON</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">PÔLE COMMUNICATION & ANIMATION
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/G5nT5rY/Whats-App-Image-2022-10-22-19-24-34.jpg"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">Emilie marie</h5>
                    <p class="card-text text-center" style="color: #000; font-size: 1rem; font-weight: 800;">PÔLE ADMINISTRATIF & COMMUNICATION
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-5 d-flex justify-content-around" style="background: rgb(255,255,255,0);">
    <div class="row">
        <div class="col">
            <div class="card p-4" style="height:400px; width:300px;">
                <div class="d-flex justify-content-center " >
                    <img
                    src="https://i.ibb.co/2nth5pD/Whats-App-Image-2022-10-22-19-24-16.jpg"
                    class="img-fluid"  style=" height:200px; width:200px; border-radius: 50%; "
                    />
                    <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center text-uppercase" style="color: #3576b7; font-size: 1.125rem; font-weight: 800;" style="">EUlalie tripier</h5>
                    <p class="card-text text-center text-uppercase" style="color: #000; font-size: 1rem; font-weight: 800;">
                   PÔLE JEUNES & Communication 

                    </p>
                </div>
            </div>
        </div>

        
    </div>
</div>
</div>
{% endblock %}
