{% extends 'base.html.twig' %}

{% block title %}Hello HistoriqueController!{% endblock %}

{% block body %}



<div class="container-fluid pb-5 ps-0 pe-0" style="padding-top:100px;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://i.ibb.co/ZNYBHBD/Whats-App-Image-2022-08-15-at-14-34-42.jpg) no-repeat center 25% fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; ">
    <div class="row text-white text-center p-0 ms-0 me-0"  style="margin-bottom:100px;">
        <div class="col-md-2  mb-5" style="border-bottom: 3px solid #fff;"></div>
        <div class="col-md-8">
          <h2 class="text-uppercase p-1 m-0" style="font-size: 1.5rem; font-weight: 800;">Historique</h2>
            <h2 class="text-uppercase p-1" style="font-size: 2.5rem; font-weight: 800;">PRÉSENTATION DU CLUB</h2>
        </div>
        <div class="col-md-2 mb-5" style="border-bottom: 3px solid #fff;"></div>
    </div>
    <div class="position-relative container " style="border-top: 1px solid white;border-left: 1px solid white;border-right: 1px solid white ;height: 80px; background-color: #FFF;">
        <h2 class="text-center pt-5"style="font-size: 2rem; color: #3576b7;font-weight: 800;">LE CLUB AJA TRIATHLON </h2>
    </div>


<div class="container-fluid  p-0 m-0" style="background: linear-gradient(#3f90cb,#345fa5);">

    <div class="container bg-white  position-relative shadow-5" >
        <h3  class="text-center p-3"style="font-size: 1.125rem; color:black;font-weight: 800;">(Section de l'AJA omnisport)</h3>
        <div class="container text-dark ps-5 pe-5 ">
            <h4 class="text-uppercase" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">Qui sommes nous <br><br></h4>
            <p style="font-size: 1rem; color:black;font-weight: 800;">
            Implanté au cœur de la ville d’AUXERRE fief du célèbre Cadet ROUSSEL, l’AJA TRIATHLON est une des
            nombreuses sections que compte l’AJA Omnisports.<br>
            Issue du patronage Saint Joseph fondé par l’Abbé DESCHAMPS en 1887, l’AJA Omnisport constituée tout
            d’abord en 1905 en société sportive et éducative verra officiellement le jour en 1950, et proposera ses
            toutes premières activités sportives et culturelles tels que le football, la gymnastique masculine, la
            clique (Batterie & fanfare) et la préparation militaire.<br>
            Mais l’AJA Omnisports c’est également 5 838 m² de bâtiments et d’installations dont 3 325 m² (tennis,
            boules, colombophilie) et 2 513m² occupés en tant que locataire (gymnastique, baseball, musique,
            judo, échecs etc...).<br>
            La gestion de l’AJA Omnisport est aujourd’hui assurée par une co-présidence, elle compte trois
            salariés. Elle gère un budget d’un demi-million d’euros par an et compte 16 sections, 1 500 adhérents et 500
            bénévoles qui chaque année participent à la coordination de toutes les manifestations organisées au
            cœur de ses sections.
            </p>

            <h4 class="pt-5" style="font-size: 1.125rem; color: #3576b7;font-weight: 800;">UNE POLITIQUE DE CLUB RÉSOLUMENT TOURNÉE VERS L'AVENIR.. <br><br></h4>
            <p class=" m-0" style="font-size: 1rem; color:black;font-weight: 800;">
            L’AJA TRIATHLON est administrée par des membres élus tous les trois ans conformément au dispositif
            de la loi des associations de 1901, de ses statuts et de son règlement.<br>
            Tous les membres élus composent le bureau directeur de l’AJA TRIATHLON, ils administrent et
            assurent le bon fonctionnement de cette section.<br>
            Son organisation générale est constituée de six pôles pilotés par les membres élus responsables de
            son administration dont le but principal est de favoriser la mise en synergie pour élaborer tous ses
            projets.<br>
            Le club propose à l’ensemble de ses adhérents un programme annuel calendaire complet recensant
            toutes les activités, évènements et animations proposés durant la saison.<br>
            Le pôle sportif organise des séances d’entrainement hebdomadaires ou à distance, des regroupements
            et des stages sportifs.<br>
            La politique générale du club se définit suivant les directives ministérielles et fédérales avec pour
            principale volonté la fidélisation de ses adhérents à travers la promotion et le développement de la
            pratique des jeunes, de la pratique féminine, du sport loisir santé et bien-être, du handisport, le tout
            intégré à une gestion éco-responsable.
            </p>
                <div class="text-center">
                <img class="imghisto" src="https://i.ibb.co/nc8Ygxm/Whats-App-Image-2022-08-15-at-14-29-16.jpg" class="img-fluid" style="height: 600px;">
                </div>
        </div>

    </div>

</div> 
<div class="position-relative container mb-5" style="border-left: 1px solid white;border-bottom: 1px solid white;border-white: 1px solid white; height: 50px; background-color: #fff;">
</div>
</div>

<style>
  @media screen and (max-width: 800px) {
  .imghisto{
     display: none;
  }
</style>
{% endblock %}
